/* Barre de navigation */
nav > div {
    font-size: 18px;
    background-color: #ffbc0d;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 70px);
    grid-template-areas: "logo"
                        "connexion"
                        "menu"
                        "reservation"
                        "localisation"
                        "questions"
}

#logo {
    grid-area: logo;
    display: block;
    margin: auto;
}
#logo img{
    width: 50px;
    height: 50px;
    border-radius: 7%;
    border: 1px solid black;
}
#connect{
    grid-area: connexion;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#connect:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#menu{
    grid-area:menu;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#menu:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#reservation{
    grid-area: reservation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#reservation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#localisation{
    grid-area: localisation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#localisation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#questions{
    grid-area: questions;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#questions:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hoveringNav{
    from{
        background-color: #ffbc0d;
    }
    to{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
}
@keyframes hoveringOutNav{
    from{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
    to{
        background-color: #ffbc0d;
    }
}
/* Barre de navigation  */

#bulles {
    background-color: aliceblue;
    font-family: 'Noto Sans';
    color: #3C3B38;
}
main {
    background-color: aliceblue;
    animation: changeColor 10s infinite;
}
@keyframes changeColor {
    0% {
        color: #3C3B38;
    }
    25% {
        color: #c99614;
    }
    50% {
        color: #3C3B38;
    }
    75% {
        color: #c99614;
    }
    100% {
        color: #3C3B38;
    }
}

.portrait {
    border: solid #3C3B38;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #EDF5B9;
}
.portrait:hover {
    box-shadow: 2px 2px 5px black;
}

.connection {
    border: solid #3C3B38;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #EDF5B9;
}
.connection:hover{
    box-shadow: 2px 2px 5px black;
}

legend {
    font-size: 18px;
    font-weight: bold;
}
.portrait > label {
    font-weight: bold;
    display: inline-block;
    width: 30%;
}
input[type=text] {
    border: none;
    border-bottom: solid 1px #3C3B38;
    background-color: #EDF5B9;
}
input:focus[type=text] {
    border: none;
    border-bottom: solid 1px #3C3B38;
    background-color: white;
}
input[type=email] {
    border: none;
    border-bottom: solid 1px #3C3B38;
    background-color: #EDF5B9;
}
input:focus[type=email] {
    border: none;
    border-bottom: solid 1px #3C3B38;
    background-color: white;
}
/* Ordnateur */
@media only screen and (768px<=width){
    
    /* Barre de navigation */
    nav > div{
        grid-template-columns: 5% repeat(5,auto);
        grid-template-rows: 70px;
        grid-template-areas: "logo connexion menu reservation localisation questions"
    }
    /* Barre de navigation */


}
/* Ordinateur */