nav {
    display : grid;
    grid-template-columns : ;
    grid-template-rows : 10px;
}

header > h1 {
    position :relative;
    top : 10px;
    font-family : 'Trebuchet MS';
    border : 2px solid yellow;
    margin : 1px;
    padding : 1px;
    width: 11%;
}

#connect {
    
}


#logo {
    
}
#logo :active {
    
}