nav > div {
    display : grid;
    grid-template-columns : repeat(4,10px) auto;
    grid-template-rows : 10px;
    grid-template-areas : "logo connexion menu reservation localisation questions"
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 7%;
    border: 1px solid black;
    position: relative;
    top: 10px;
    left: 10px;
}

#logo:active {
    width: 100px;
    height: 100px;
    border-radius: 7%;
    border: 1px solid black;
    position: relative;
    top: 10px;
    left: 10px;
}

#connect {
    grid-area : connexion;
}