header {
    background-image: url("images/background.jpg");
}
nav > div {
    font-size: 18px;
    font-weight: bold;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-columns: auto repeat(4,220px);
    grid-template-rows: 70px;
    grid-template-areas: "logo connexion menu reservation localisation questions"
}

#logo {
    width: 65px;
    height: 65px;
    border-radius: 7%;
    border: 1px solid black;
    float: left;
    position: static;
    top: 10px;
    left: 10px;
}

#logo:active {
    width: 100px;
    height: 100px;
    border-radius: 7%;
    border: 1px solid black;
    position: relative;
    top: 10px;
    left: 10px;
}

#connect {
    grid-area : connexion;
    justify-self : left;
    background-color: orange;
}

#menu  {
    grid-area : menu;
    background-color: yellow;
}

#reservation {
    grid-area : reservation;
    background-color: orange;
}

#localisation {
    grid-area : localisation;
    background-color: yellow;
}

#questions {
    grid-area : questions;
    background-color: orange;
}

h1 {
    clear: both;
}



#reseaux img{
width: 50px;
height: 50px;
border-radius: 7%;
float: left;
}

#reseaux {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 50px;
    grid-template-areas: "Facebook Twitter Instagram"
}

.facebook {
    grid-area: Facebook;
}

.twitter {
    grid-area: Twitter;
}

.instagram {
    grid-area: Instagram;
}