nav {
    display : grid;
    grid-template-columns : repeat(5,10px) auto;
    grid-template-rows : 10px;
    grid-template-areas : "logo connexion menu reservation localisation questions"
}

#logo {
    grid-area : logo;
}

#logo :active {
    
}

#connect {
    grid-area : auto;
}