header {
    background-image: url("images/background.jpg");
}

nav > div {
    font-size: 18px;
    font-weight: bold;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-columns: auto repeat(4,220px);
    grid-template-rows: 70px;
    grid-template-areas: "logo connexion menu reservation localisation questions"
}

#logo {
    width: 65px;
    height: 65px;
    border-radius: 7%;
    border: 1px solid black;
    float: left;
    position: static;
    top: 10px;
    left: 10px;
}

    #logo:active {
        width: 100px;
        height: 100px;
        border-radius: 7%;
        border: 1px solid black;
        position: relative;
        top: 10px;
        left: 10px;
    }

#connect {
    grid-area: connexion;
    justify-self: left;
    background-color: orange;
}

#menu {
    grid-area: menu;
    background-color: yellow;
}

#reservation {
    grid-area: reservation;
    background-color: orange;
}

#localisation {
    grid-area: localisation;
    background-color: yellow;
}

#questions {
    grid-area: questions;
    background-color: orange;
}

h1 {
    clear: both;
}



#reseaux img {
    width: 50px;
    height: 50px;
    border-radius: 7%;
    float: left;
}

#loc{
    width: 40%;
    height: 400px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#texte .jsp {
    font-style : italic;
    font-size : 18px;
    position: relative;
    left: 50px;
    top: 50px;
}

#text ul {
    font-family: Arial;
    position: absolute;
}