/* Barre de navigation */
nav > div {
    font-size: 18px;
    background-color: #ffbc0d;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 70px);
    grid-template-areas: "logo"
                        "connexion"
                        "menu"
                        "reservation"
                        "localisation"
                        "questions"
}

#logo {
    grid-area: logo;
    display: block;
    margin: auto;
}
#logo img{
    width: 50px;
    height: 50px;
    border-radius: 7%;
    border: 1px solid black;
}
#connect{
    grid-area: connexion;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#connect:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#menu{
    grid-area:menu;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#menu:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#reservation{
    grid-area: reservation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#reservation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#localisation{
    grid-area: localisation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#localisation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#questions{
    grid-area: questions;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#questions:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hoveringNav{
    from{
        background-color: #ffbc0d;
    }
    to{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
}
@keyframes hoveringOutNav{
    from{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
    to{
        background-color: #ffbc0d;
    }
}
/* Barre de navigation  */


#menu_box{
    position: relative;
    width: 100%;
    height: 300px;
}
#menu_box > h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#mConteneur > div{
    border: solid black 1px;
    background-color: #EDF5B9;
}

#pates {
    grid-area: pates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "titre"
                            "contenu";
}

#sauces_garnitures {
    grid-area: sauces;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr;
    grid-template-areas: "titre titre"
                            "gauche gauche"
                            "droite droite";
}

#boissons_extras {
    grid-area: boissons;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "titre"
                            "contenu";
}


.item{
    width: 85%;
    justify-self: left;
}

.prix{
    justify-self: right;
}
.invisible{
    color: transparent;
}

#pates h2{
    grid-area: titre;
    margin: auto;
}
#pates ul{
    grid-area: contenu;
    top: 20%;
    line-height: 2.5;
}
li{
    display: flex;
}

#sauces_garnitures h2{
    position: absolute;
    grid-area: titre;
    justify-self: center;
}

#sauces_garnitures .gauche{
    grid-area: gauche;
    line-height: 2.5;
}
#sauces_garnitures .droite{
    grid-area: droite;
    line-height: 2.5;
}


#boissons_extras h2{
    grid-area: titre;
    margin: auto;
}
#boissons_extras ul{
    grid-area: contenu;
    top: 20%;
    line-height: 2.5;
}



#menu_box #mConteneur {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "pates pates pates"
                            "sauces sauces sauces"
                            "boissons boissons boissons";
    width: 90%;
    top: 15%;
    left: 5%;
}

/* Tablette */
@media only screen and (600px<=width){
    
    
    
    #sauces_garnitures .droite{
        border-left: solid black 1px;
    }
    #menu_box #mConteneur {
        grid-template-areas: "pates sauces sauces"
                                "pates sauces sauces"
                                "boissons boissons boissons";
    }

    #sauces_garnitures{
        grid-template-areas: "titre titre"
                                "gauche droite"
                                "gauche droite";
    }
}
/* Tablette */

/* Ordnateur */
@media only screen and (768px<=width){
    
    /* Barre de navigation */
    nav > div{
        grid-template-columns: 5% repeat(5,auto);
        grid-template-rows: 70px;
        grid-template-areas: "logo connexion menu reservation localisation questions"
    }
    /* Barre de navigation */

    /* Grid menu */
    #menu_box #mConteneur {
        grid-template-areas: "pates sauces boissons"
                                "pates sauces boissons"
                                "pates sauces boissons";
    }
    /* Grid menu */

}
/* Ordinateur */