/* Barre de navigation */
nav > div {
    font-size: 18px;
    background-color: #ffbc0d;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 70px);
    grid-template-areas: "logo"
                        "connexion"
                        "menu"
                        "reservation"
                        "localisation"
                        "questions"
}

#logo {
    grid-area: logo;
    display: block;
    margin: auto;
}
#logo img{
    width: 50px;
    height: 50px;
    border-radius: 7%;
    border: 1px solid black;
}
#connect{
    grid-area: connexion;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#connect:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#menu{
    grid-area:menu;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#menu:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#reservation{
    grid-area: reservation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#reservation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#localisation{
    grid-area: localisation;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#localisation:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#questions{
    grid-area: questions;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #3C3B38;
    text-align: center;
    line-height: 70px;
    animation-name: hoveringOutNav;
    animation-duration: 0.5s;
}
#questions:hover{
    animation-name: hoveringNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hoveringNav{
    from{
        background-color: #ffbc0d;
    }
    to{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
}
@keyframes hoveringOutNav{
    from{
        background-color: #c99614;
        font-weight: bold;
        border-radius: 25px;
    }
    to{
        background-color: #ffbc0d;
    }
}
/* Barre de navigation  */

body{
    background-color: #E7E7E7;
}

/* Questions */
h2{
    grid-area: titre;
    align-self: center;
}

.questions {
    font-family: 'Noto Sans';
    display: grid;
    background-color: #EDF5B9;
    grid-template-columns: 100%;
    grid-template-rows: 15% repeat(4, 1fr);
    grid-template-areas: "titre"
                        "q1"
                        "q2"
                        "q3"
                        "q4";        
    line-height: 2.5;
}

.reponse{
    animation-name: hoveringOutQuestion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 15px;
}
.question{
    font-weight: bold;
    margin: 10px;
}
#quest1 {
    grid-area: q1;
    
}
#quest1:hover > .reponse{
    animation-name: hoveringQuestion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#quest2 {
    grid-area: q2;
}
#quest2:hover > .reponse{
    animation-name: hoveringQuestion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#quest3 {
    grid-area: q3;
}
#quest3:hover > .reponse{
    animation-name: hoveringQuestion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#quest4 {
    grid-area: q4;
}
#quest4:hover > .reponse{
    animation-name: hoveringQuestion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes hoveringQuestion{
    from{
        transform: translate(0px,-20px);
        color:transparent;
    }
    to{
        transform: translate(0px,0px);
    }
}
@keyframes hoveringOutQuestion{
    from{
        transform: translate(0px,0px);
    }
    to{
        transform: translate(0px,-20px);
        color: transparent;
    }
}
/* Questions */

/* Footer */

#reseaux img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    float: left;
    }
    
    #reseaux {
        margin: 2%;
        padding: 1%;
        border: 2px solid black;
        border-radius: 5px;
        display: grid;
        background-color:#ffbc0d ;
        justify-items: center;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: 50px;
        grid-template-areas: "Facebook Twitter Instagram"
    }
    
    .facebook {
        grid-area: Facebook;
    }
    .facebook:hover {
        transform: scale(1.5,1.5);
    }
    
    
    .twitter {
        grid-area: Twitter;
    }
    .twitter:hover {
        transform: scale(1.5,1.5); 
    }
    
    .instagram {
        grid-area: Instagram;
    }
    .instagram:hover {
        transform: scale(1.5,1.5);
    }
    
    /* Footer */


/* Tablette */
@media only screen and (600px<=width){
   /* Questions */
    .questions{
        grid-template-columns: 1fr 1fr;;
        grid-template-rows: 15% 1fr 1fr;
        grid-template-areas: "titre titre"
                            "q1 q2"
                            "q3 q4";
        }
    /* Questions */
    
}

/* Tablette */

/* Ordnateur */
@media only screen and (768px<=width){
    
    /* Barre de navigation */
    nav > div{
        grid-template-columns: 5% repeat(5,auto);
        grid-template-rows: 70px;
        grid-template-areas: "logo connexion menu reservation localisation questions"
    }
    /* Barre de navigation */

    

}
/* Ordinateur */