nav > div {
    font-size: 18px;
    font-weight: bold;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-columns: auto repeat(4,220px);
    grid-template-rows: 70px;
    grid-template-areas: "logo connexion menu reservation localisation questions"
}

#logo {
    width: 65px;
    height: 65px;
    border-radius: 7%;
    border: 1px solid black;
    float: left;
    position: static;
    top: 10px;
    left: 10px;
}

    #logo:active {
        width: 100px;
        height: 100px;
        border-radius: 7%;
        border: 1px solid black;
        position: relative;
        top: 10px;
        left: 10px;
    }

#connect {
    grid-area: connexion;
    justify-self: left;
}

#menu {
    grid-area: menu;
}

#reservation {
    grid-area: reservation;
}

#localisation {
    grid-area: localisation;
}

#questions {
    grid-area: questions;
}

h1 {
    clear: both;
}



#reseaux img {
    width: 50px;
    height: 50px;
    border-radius: 7%;
    float: left;
}

h2 {
    font-family: 'Noto Sans';
    font-weight: bold;
    color: green;
}

.questions {
    font-family: 'Noto Sans';
}